<!DOCTYPE html>
<html>
<head>
	<title>Stock Game - Selling {{ stock.symbol }} stocks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
  <section class="hero is-dark">
    <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h2 class="subtitle">Playing as {{current_user.username}}</h3>
          </a>
        </div>
      </div>
    </nav>
    </div>
    <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Stock Investing Game
      </h1>
      <h2 class="subtitle">
        Add Stock <br>
        Balance:  ${{current_user.balance / 100}}<br>
      </h2>
    </div>
    </div>
    <div class="hero-foot">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li class="navbar-item">
            <a href="{{url_for('home')}}">Home</a>
          </li>
          <li>
            <a class="navbar-item" href="{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </section>
  <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <article class="message is-primary">
              <div class="message-header">
                <p> {{ message }} </p>
                <button class="delete" aria-label="delete"></button>
              </div>
            </article>            
            {% endfor %}
        {% endif %}
    {% endwith %}
<br><br><br>
<div class="tile is-ancestor">
  <div class="tile is-parent is-8">
	<form method="POST" action="{{url_for('sell_stock', stockid=stock.id)}}">
        <div class="field">
          <label class="label">Stock Symbol</label>
          <div class="control">
		    <input type="text" name="symbol" value="{{stock.symbol}}" disabled="disabled" class="input">
          </div>
        </div>

        <div class="field has-addons">
            <label class="label">Number of Shares</label>
            <div class="control" style="padding-left:5px;">
                <input type="number" min="1" max="{{stock.no_of_shares}}" name="no_of_shares" placeholder="Number of shares" class="input">
            </div>
            <div class="control">
                <a class="button is-static">Available: {{stock.no_of_shares}}</a>
            </div>           
        </div>

        <div class="field has-addons">
          <label class="label">Cost per share</label>
          <div class="control">
            <input type="number" value="{{ cps }}" disabled="disabled" class="input">
          </div>
          <div class="control">
              <a class="button is-static">cents</a>
          </div>
        </div>

		
		<input type="submit" value="Submit" class="button">
	</form>
  </div>
	
  <div class="tile is-parent">
    <article class="tile is-child box">
    <table class="table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price (c)</th>
          <th>Price ($)</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
          <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.price|int / 100 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </article>
  </div>
 </div>
</div>

</body>
</html>